
	</div>
	<!-- /container -->

	<!-- footer -->
	<footer>
		&reg; Zrealizowane z <i class="ion-heart ico-footer"></i> przez <a href="http://studiokam.pl" target="_blank">Studiokam</a>.
	</footer>
	<!-- /footer -->

	<script>

		if (window.matchMedia("(max-width: 786px)").matches) {

		  $(document).ready(function(){
			  $(".tab-rekord").click(function(){
			    $(this).toggleClass( "highlight" ).find('.hide').toggle();
			  });
			});

		} 

	</script>

</body>
</html>